html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #ffab4bbd;
    font-size: 62.5%;
}

nav ul li a {
    color: white;
}

.logo .nav_links .cta {
    font-weight: 500;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 3%;
    grid-area: header;
    background-color: #ff8b0652;
}

header div {
    cursor: pointer;
}

.nav_links {
    list-style: none;
    font-size: 25px;
    font-family: 'lora', serif;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
    color: white;
    font-family: "lora", serif;
    font-size: 2.6rem;
}

.nav_links li a {
    transition: all 0.7s ease 0s;
    text-decoration: none;
}

.nav_links li a:hover {
    color: #006dac;
    text-decoration: white;
}

button {
    padding: 9px 25px;
    background-color: #FFEB63;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: all 1s ease 0s;
    font-size: 2.6rem;
    color: #006dac;
}

button:hover {
    color: #ec8107;
    background-color: rgb(10, 126, 194);
}

cão-back {
    background-position: center;
    background-size: cover;
    height: 100vh;
    content: Adotar é um gesto de amor !;
    color: black;
}

main p {
    width: 100%;
    height: auto;
    float: left;
    text-align: center;
    color: #006dac;
    font-size: 16em;
    font-weight: bold;
    position: absolute;
    background-color: rgba(146, 146, 146, 0.356);
    font-family: 'Cormorant Garamond', serif;
}